<form action="/hitpoints" method="post">
  <input type="submit" value="Opponent Hitpoints">
</form>

<form action="/attack" method="get">
  <input type="submit" value="ATTACK!">
</form>

<%= $game.player_1.name %> vs <%= $game.player_2.name %>
