<form action="/hitpoints" method="post">
  <input type="submit" value="<%= $game.inactive_player.name %>'s Hitpoints">
</form>

<form action="/attack" method="get">
  <input type="submit" value="Attack <%= $game.inactive_player.name %>!!!">
</form>

<%= $game.active_player.name %> vs <%= $game.inactive_player.name %>
