<form action="/hitpoints" method="post">
  <input type="submit" value="Hitpoints of Player 2">
</form>

<form action="/attack" method="post">
  <input type="submit" value="ATTACK!">
</form>

<%= @player_1 %> vs <%= @player_2 %>
